 .post-content-area .title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blueTheme);
    margin-top: 30px;

 }

 .back_new {
    display: flex;
    justify-content: initial;
 }
 .back_new:hover p{
   color:var(--blueTheme)
 }
 .back_new p {
    margin: auto 0px;
    font-weight: 500;
    margin-left: 15px;
 }

 .chevrons_icon {
    line-height: 0px;
    margin: auto 0px;
    font-size: 30px;
 }

 .post-content-area {
    margin-top: 220px;
    margin-bottom: 120px;
 }

 .post-content-area .container {
    padding: 0px 103px;
 }

 .post-content-area .content-post {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: .05em;
    text-align: left !important;

 }

 /* .post-content-area .content-post p {
    margin: 20px 0px;
    color: #2b2b2b;
    font-size: 18px;
    line-height: 30px;
 } */

 .post-content-area .content-post img {
    max-width: 100%;
    object-fit: cover;
    height: auto !important;
 }

 .post-content-area .content-footer {
    margin-top: 30px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.6);
 }

 .post-content-area .content-footer .column1 {
    display: flex;
    align-items: end;
    gap: 40px;
    color: rgba(43, 43, 43, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

 }

 .post-content-area .content-footer .column2 {
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgba(43, 43, 43, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

 }

 .post-content-area .content-post a{
   color: var(--blueTheme) !important;
 }

 /*----------Content Style-----------*/



 .post-content-area .content-post {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 1.5em;
   color: #000000;
   margin-top: 0;
   text-align: left;
   padding-top: 1.5em;
 }
 
  .post-content-area .content-post p:not(:last-child){
   margin-bottom: 1em;
 }
  .post-content-area .content-post img{
   width: 100%;
   height: auto;
 }
 
  .post-content-area .content-post h4{
   font-size: 1.3em;
   margin-bottom: 0.5em;
   margin-top: 1em;
 }
 
  .post-content-area .content-post h3{
   font-size: 1.4em;
   margin-bottom: 0.3em;
   margin-top: 1.3em;
 
 }
  .post-content-area .content-post h1{
   font-size: 2.4em;
   margin-bottom: 1.0em;
   margin-top: 1.8em;
 }
 
  .post-content-area .content-post h2{
   font-size: 2.4em;
   margin-bottom: 0.6em;
   margin-top: 1.3em;
 
 }
 


  .post-content-area .content-post ul{
   font-size: 1em;
   margin-bottom: 1em;
 }
  .post-content-area .content-post ul li{
   font-size: 1em;
   line-height: 1.5em;
   list-style-type: disc;
 }
  .post-content-area .content-post ol{
   font-size: 1em;
   margin-bottom: 1em;
 }
  .post-content-area .content-post ol li{
   font-size: 1em;
   line-height: 1.5em;
   list-style-type: disc;
 }
  .post-content-area .content-post ul li:not(:last-child){
   margin-bottom: 0.7em;
 }
  .post-content-area .content-post ol li:not(:last-child){
   margin-bottom: 0.7em;
 }
  .post-content-area .content-post table, td, th {
   border: 1px solid;
 }
 
  .post-content-area .content-post table {
   font-size: 0.8em;
   line-height: 1.2em;
   border-collapse: collapse;
   text-align: unset;
   margin-bottom: 1em;
   margin-top: 1em;
 }
  .post-content-area .content-post table td {
   padding:15px
 }
  .post-content-area .content-post iframe {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: none;
   border-radius: 30px;
  
 }
 
 
  .post-content-area .content-post h4:first-child{
   margin-top: 0px;
 }
  .post-content-area .content-post h3:first-child{
   margin-top: 0px;
 }
 
  .post-content-area .content-post h1:first-child{
   margin-top: 0px;
 }
  .post-content-area .content-post h2:first-child{
   margin-top: 0px;
 }
 
 /*----------End Content Style-----------*/
 
 

 @media (max-width:768px) {
    .post-content-area .title {
       font-family: Roboto;
       font-size: 30px;
       font-weight: 400;
       line-height: 39px;
       letter-spacing: 0em;
       text-align: left;
       text-transform: none;


    }

    .post-content-area {
       margin-top: 128px;
       margin-bottom: 72px;
    }


    .post-content-area .content-post {
       font-family: Roboto;
       font-size: 14px;
       font-weight: 400;
       line-height: 21px;
       letter-spacing: 0em;
       text-align: justified;

       text-align: left !important;

    }

    .post-content-area .content-post p {
       margin: 24px 0px;
    }

    .post-content-area .content-post img {
       max-width: 100%;
       object-fit: cover;
       height: auto !important;
    }

    .post-content-area .content-footer {
       margin-top: 30px !important;
       display: flex;
       flex-direction: column;
       gap: 16px;
       padding-bottom: 16px;
       border-bottom: 1px solid rgba(43, 43, 43, 0.6);
    }

    .post-content-area .content-footer .column1 {
       display: flex;
       gap: 40px;
       color: rgba(43, 43, 43, 1);
       font-family: Roboto;
       font-size: 12px;
       font-weight: 300;
       line-height: 18px;
       letter-spacing: 0em;
       text-align: left;

       text-transform: uppercase;

    }

    .post-content-area .content-footer .column2 {
       display: flex;
       gap: 16px;
       color: rgba(43, 43, 43, 1);
       font-family: Roboto;
       font-size: 12px;
       font-weight: 300;
       line-height: 18px;
       letter-spacing: 0em;
       text-align: left;

       text-align: left;
       text-transform: uppercase;

    }
 }